* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(210, 216, 239, 0.7);
 font-family: "DM Sans", sans-serif; 
 
 /* width: 100%;
  padding-right: 30px;
  padding-left: 30px;

  margin-right: auto;
  margin-left: auto; */
}
/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}



/* .link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
} */
